Node_Red.json
[{"id":"d99d747f.bdbd48","type":"tab","label":"Air","disabled":false,"info":""},{"id":"ea0ec310.48ac5","type":"function","z":"d99d747f.bdbd48","name":"","func":"//var c=msg.payload;\nvar msg1;\n/*if(c>50)\n{\n    msg1={payload:\"ALERT!!The concentration of NH3 is above 50 ppm\"};\n}\nelse\n{\n    msg1={payload:\"The value is Normal\"};\n}*/\nmsg1={payload:\"ALERT!!The concentration of NH3 is above 50 ppm\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":20,"wires":[["a98be68a.553178"]]},{"id":"dbe61a81.1ed808","type":"ui_chart","z":"d99d747f.bdbd48","name":"","group":"98fb2c59.e39bc","order":1,"width":28,"height":10,"label":"Air Particulate Graph","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":340,"y":420,"wires":[[]]},{"id":"3692d40f.bd97dc","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":2,"width":8,"height":1,"name":"","label":"Concentration of Ammonia:","format":"{{msg.payload}} ppm","layout":"row-left","x":360,"y":20,"wires":[]},{"id":"a98be68a.553178","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":8,"width":8,"height":1,"name":"","label":"Message:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":40,"wires":[]},{"id":"abe4c26a.4f99d","type":"switch","z":"d99d747f.bdbd48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":40,"wires":[["ea0ec310.48ac5"],["8b94a314.6b793"]]},{"id":"8b94a314.6b793","type":"function","z":"d99d747f.bdbd48","name":"","func":"msg1={payload:\"The value is Normal\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":60,"wires":[["a98be68a.553178"]]},{"id":"6840c490.f92b1c","type":"switch","z":"d99d747f.bdbd48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5000","vt":"num"},{"t":"lte","v":"5000","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[["6dada11d.85c13"],["c23bc98f.eb2208"]]},{"id":"6dada11d.85c13","type":"function","z":"d99d747f.bdbd48","name":"","func":"//var c=msg.payload;\nvar msg1;\n/*if(c>50)\n{\n    msg1={payload:\"ALERT!!The concentration of NH3 is above 50 ppm\"};\n}\nelse\n{\n    msg1={payload:\"The value is Normal\"};\n}*/\nmsg1={payload:\"ALERT!!The concentration of CO2 is above 5000 ppm\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":100,"wires":[["5a2905ec.244bfc"]]},{"id":"c23bc98f.eb2208","type":"function","z":"d99d747f.bdbd48","name":"","func":"msg1={payload:\"The value is Normal\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":140,"wires":[["5a2905ec.244bfc"]]},{"id":"5a2905ec.244bfc","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":10,"width":8,"height":1,"name":"","label":"Message:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":120,"wires":[]},{"id":"aea82a6d.c6abf8","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":4,"width":8,"height":1,"name":"","label":"Concentration of Carbon Dioxide:","format":"{{msg.payload}} ppm","layout":"row-left","x":400,"y":100,"wires":[]},{"id":"4f46fb78.401634","type":"switch","z":"d99d747f.bdbd48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"400","vt":"num"},{"t":"lte","v":"400","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":200,"wires":[["20b68583.8f926a"],["60a1521f.4194dc"]]},{"id":"20b68583.8f926a","type":"function","z":"d99d747f.bdbd48","name":"","func":"//var c=msg.payload;\nvar msg1;\n/*if(c>50)\n{\n    msg1={payload:\"ALERT!!The concentration of NH3 is above 50 ppm\"};\n}\nelse\n{\n    msg1={payload:\"The value is Normal\"};\n}*/\nmsg1={payload:\"ALERT!!The concentration of CO is above 400 ppm\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":180,"wires":[["ed8f015b.445ea"]]},{"id":"60a1521f.4194dc","type":"function","z":"d99d747f.bdbd48","name":"","func":"msg1={payload:\"The value is Normal\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":220,"wires":[["ed8f015b.445ea"]]},{"id":"ed8f015b.445ea","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":12,"width":8,"height":1,"name":"","label":"Message:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":180,"wires":[]},{"id":"b48fa273.8edf9","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":6,"width":8,"height":1,"name":"","label":"Concentration of Carbon Monoxide:","format":"{{msg.payload}} ppm","layout":"row-left","x":400,"y":200,"wires":[]},{"id":"b94e1bc0.e3da68","type":"switch","z":"d99d747f.bdbd48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"},{"t":"lte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":280,"wires":[["4ab7808f.a1c86"],["75a7d10d.46bf8"]]},{"id":"4ab7808f.a1c86","type":"function","z":"d99d747f.bdbd48","name":"","func":"//var c=msg.payload;\nvar msg1;\n/*if(c>50)\n{\n    msg1={payload:\"ALERT!!The concentration of NH3 is above 50 ppm\"};\n}\nelse\n{\n    msg1={payload:\"The value is Normal\"};\n}*/\nmsg1={payload:\"ALERT!!The concentration of SO2 is above 5 ppm\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":260,"wires":[["e81ffdae.37477"]]},{"id":"75a7d10d.46bf8","type":"function","z":"d99d747f.bdbd48","name":"","func":"msg1={payload:\"The value is Normal\"};\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["e81ffdae.37477"]]},{"id":"e81ffdae.37477","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":17,"width":8,"height":1,"name":"","label":"Message:","format":"{{msg.payload}}","layout":"row-left","x":900,"y":240,"wires":[]},{"id":"fd60ccc1.b3fc3","type":"ui_text","z":"d99d747f.bdbd48","group":"98fb2c59.e39bc","order":15,"width":8,"height":1,"name":"","label":"Concentration of Sulphur Dioxide:","format":"{{msg.payload}} ppm","layout":"row-left","x":400,"y":280,"wires":[]},{"id":"a3c7e993.e51e28","type":"mqtt in","z":"d99d747f.bdbd48","name":"","topic":"Ammonia","qos":"2","datatype":"auto","broker":"7f304eb5.49b34","nl":false,"rap":true,"rh":0,"x":70,"y":40,"wires":[["3692d40f.bd97dc","abe4c26a.4f99d","dbe61a81.1ed808"]]},{"id":"3c4750f4.1f781","type":"mqtt in","z":"d99d747f.bdbd48","name":"","topic":"CO2","qos":"2","datatype":"auto","broker":"7f304eb5.49b34","nl":false,"rap":true,"rh":0,"x":70,"y":100,"wires":[["aea82a6d.c6abf8","6840c490.f92b1c","dbe61a81.1ed808"]]},{"id":"6c9b1be6.cb3f74","type":"mqtt in","z":"d99d747f.bdbd48","name":"","topic":"CO","qos":"2","datatype":"auto","broker":"7f304eb5.49b34","nl":false,"rap":true,"rh":0,"x":70,"y":140,"wires":[["b48fa273.8edf9","4f46fb78.401634","dbe61a81.1ed808"]]},{"id":"2d2daafc.b66586","type":"mqtt in","z":"d99d747f.bdbd48","name":"","topic":"SO2","qos":"2","datatype":"auto","broker":"7f304eb5.49b34","nl":false,"rap":true,"rh":0,"x":70,"y":200,"wires":[["fd60ccc1.b3fc3","b94e1bc0.e3da68","dbe61a81.1ed808"]]},{"id":"98fb2c59.e39bc","type":"ui_group","name":"","tab":"2956201d.ae8a1","order":1,"disp":true,"width":"28","collapse":false},{"id":"7f304eb5.49b34","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2956201d.ae8a1","type":"ui_tab","name":"Air Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false}]